db.sqlite3
*.log
*.pot
*.pyc
__pycache__
media
*.py[cod]
*$py.class
.env
.venv
.idea
.idea/
env/
venv/
ENV/
media/
env.bak/
venv.bak/
Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Only for Development
*/migrations/*.py
*/migrations/*.pyc
**/migrations/*
!**/migrations
!**/migrations/__init__.py
